.intro >.nav >li {
  list-style: none;
  display: inline;
  float: right;
  /*padding-top: 30px;
  padding-inline-end: 20px;*/
  color: white;
  margin-right: 5%;
  margin-top: 5%;
}
.nav .black{
  background-color:black;
  color: #faff00;
  padding-right: 3%;
  padding-left: 3%;
}
.nav .brown{
  background-color: #faff00;
  color: black;
  padding-right: 3%;
  padding-left: 3%;
}
h1 {
  color: #faff00;
  margin-top: 5%;
}
.text {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 30%;
}
.intro {
  background-image: url(moving\ 1.jpg);
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.text1 hr{
  margin-right: 80%;
 top: 10px;
}
.text1 {
  
  margin-left: 45%;
  margin-top: -25%;
  margin-right: 20%;
  
}
.img1 {
  padding-top: 30px;
}
#page >.page_1 hr{
  margin-right: 92%;

}
#page >.page_1{
  margin-top: 15%;
  margin-left: 10%;
}
.button1 {
  background-color: black;

  border-top-right-radius: 10px;
  border-radius: 4px;
  margin-right: 60%;
  padding: 5%;
  
}
.button1 a{
  color:#faff00;
  text-decoration: none;
  cursor: pointer;
  
}

#page >.movers {
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  
  /* position: relative; */
  /* background-color: red; */
  /* border-bottom: 20%;
  margin-bottom: 20%;
  padding-bottom: 10%; */
  padding: 20px;
}
#page >.movers >.start >img{
  width: 90%;

}
/* #page >.movers >.start{
  border: solid;
 margin-left: 10%;
  background-color: red;
}
#page >.movers >.start >.icon_a table tr td i{
  border: solid;
  border-collapse: collapse;
  margin: 0%;
}
#page >.movers >.second{
 border: solid;
 border-collapse: collapse ;
 margin-right: 15%;
}
#page > .movers >.third{
  margin-right: 20px;
  background-color: red; */

/* .movers1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin: 0%;
  position: relative;
} */

.last {
  background-color: rgb(61, 49, 49);
  padding-bottom: 10%;
  
}
.last >.footer{
  display: flex;
  justify-content: space-between;
}



 .last hr{
   margin-left: 10%;
   margin-right: 10%;
 }
 span{
   color:#FFAC12;
 }
 .links {
  display: flex;
  
  margin-right: 10%;
  color: white;
  list-style-type: none;
  /* margin-top: 10px;
  margin: 10%;
  position: relative; 
  /* padding: 2px; */ 
  /* background-color: red;
  margin-left: 10%;
  margin-bottom: 10%;
  padding-bottom: 10%;
  position: relative;  */
}
/* .links >.least ul{
  list-style: none;
    display: inline;
    float: right; 
    padding-top: 10px;
    
    color: white; 
    margin-right: 5%; 
    margin-top: 2%;
} */

/* .icons{
  background-color: red;
  margin-left: 20%;
  margin-top:-10% ; */
.links >.sect li{
  list-style: none;
  padding-left: 30px;
}
.links >.sect h5{
  padding-left: 30px;
}
.last h4 {
  color: white;
  margin-left: 10%;
  padding-bottom: 5%;
 
  padding-top: 5%;
}
.top{
    margin-bottom: 20%;
    margin-top: 0%;
}
.icons {
  width: 10%;
  margin-top: 115px;
  color: white;
  align-content: center;
 margin-left: 150px; 
 float: left;
 display: inline;
 
 
}
.icons i{
  padding-right: 5px;
  
  
}
