li {
  list-style: none;
  display: inline;
  float: right;
  /*padding-top: 30px;
  padding-inline-end: 20px;*/
  color: white;
  margin-right: 5%;
  margin-top: 5%;
}
.nav .black{
  background-color:black;
  color: #faff00;
  padding-right: 3%;
  padding-left: 3%;
}
.nav .brown{
  background-color: #faff00;
  color: black;
  padding-right: 3%;
  padding-left: 3%;
}
h1 {
  color: #faff00;
  margin-top: 5%;
}
.text {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 30%;
}
.intro {
  background-image: url(moving\ 1.jpg);
  background-attachment: fixed;
  width: 100%;
  background-size: 900px 80%;
  background-repeat: no-repeat;
}
body {
  margin-right: 40%;
  margin-left: 5%;
  font-family: "Poppins,  Actor, Adamina";
}

.text1 hr{
  margin-right: 80%;
 top: 10px;
}
.text1 {
  padding-left: 0%;
  margin-left: 50%;
  margin-top: -30%;
}
.img1 {
  padding-top: 30px;
}
.button1 {
  background-color: black;

  border-top-right-radius: 10px;
  border-radius: 4px;
  margin-right: 60%;
  padding: 5%;
  
}
.button1 a{
  color:#faff00;
  text-decoration: none;
  cursor: pointer;
  
}

.movers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  
  position: relative;
  
  border-bottom: 20%;
  margin-bottom: 20%;
  padding-bottom: 10%;
}
.movers1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin: 0%;
  position: relative;
}

.last {
  background-color: rgb(61, 49, 49);
}
 .last h4{
   
   margin-bottom: 50px;
   padding-top: 50px;
   margin-left: 70px;
   
 }
 
 .last hr{
   margin-left: 10%;
   margin-right: 10%;
 }
 span{
   color:#FFAC12;
 }
 .links {
  display: flex;
  margin-top: 10px;
  margin: 10%;
  position: relative;
  padding: 2px;
}
li h4{
  margin-top: -20px;
}
/* .icons{
  background-color: red;
  margin-left: 20%;
  margin-top:-10% ; */
}
h4 {
  color: white;
}
.top{
    margin-bottom: 20%;
    margin-top: 0%;
}
.line1{
    padding-top: 15%;
    width: 10%;
    color: rgb(59, 29, 29);
    
}
.line1 hr{
  height: 2px;
  
}
.second{
  border-radius:5px solid black ;
}
.second i{
  border-radius: 5px;
  /* background-color: red; */
  padding: 6px;
  margin-top: 6px;
  padding-left: 4px;
  margin-left: 5%;
  caption-side: bottom;
}


.icons {
  width: 10%;
  margin-top: 115px;
  
  align-content: center;
 margin-left: 70px; 
 float: left;
 display: inline;
 

  
}
.icons i{
  padding-right: 5px;
  
}