.top{
    background-color: black;
    width: 80%;
    height: 200px;
   
    

}
.text0{
    color: white;
    
  
}
.text0 .text1{
    float: left;
}
.text0 .text2{
    float: right;
    margin-right: 20px;
}
 
     

.top_nav{
   
    display: flex;
    justify-content: end;
    

}
.top_nav a{
    padding-left: 50px;
    text-decoration: none;
    padding-top: 40px;
    margin-right: 20px;
    color: aliceblue;
}
.copy img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.container{
    box-sizing: border-box;
    padding: 20px;
    float: right;
    margin-right: 20%;
    margin-top: -30%;
    
   
    
    
}
form input{
    box-shadow: 2px 3px 5px rgb(218, 216, 216);
    border: none;
}
.about{
    float: right;
    margin-top: -25%;
    margin-left: -10%;

}
.img1{
    
    margin-right: 70%;
    margin-top: 5%;
    margin-left: 10%;
    width: 30%;
    
}
.link a{
    background-color: rgb(34, 33, 33);
    color: #faff00;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    padding-right: 70px;
}
.link{
    margin-top: 15%;
    

}
body{
    margin-right: 20%;
}
.rectangle{
    display: flex;
    position: relative;
    background-color: rgb(238, 238, 238);
    justify-content:space-between;
    list-style: none;
    margin-left:10%;
    margin-top: 20px;
    margin-right: 45%;

}
.details{
    background-color: rgb(238, 238, 238);
    margin-left: 10%;
    border-radius:20px;
    padding: 20px;
    border-style: none;
    margin-top: 15px;
    margin-right: 45%;
    
}
i{
    border: 1px solid black;
    padding: 10px ;
}
.description{
    margin-left: 10%;
    margin-right: 45%;
    background-color: rgb(238, 238, 238);
}
.features{
    display: flex;
  margin-top: 30px;
  margin: 10%;
  position: relative;
  padding: 2px;
  background-color:rgb(238, 238, 238) ;
  margin-right: 45%;
  
}
.features li{
    list-style-type: disc;

}
.listings{
    display: flex;
  justify-content: space-evenly;
  
  position: relative;
  
  padding-left: -20%;
  padding-right: -30%;
}
.similar hr{
    margin-right: 84%;

}
.similar{
    margin-left: 10%;  
}
.part{
    display: flex;
    margin-top: 30px;
    margin: 10%;
    position: relative;
    padding: 2px;
    color: white;
}
.last {
    margin-top: 15%;
    background-color: black;
    margin-left: 10%;
  }
  .text2{
      color: white;
  }
  span{
      color:  #FAFF00;
  }
